body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: url(../public/w1.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
      
}
/*#image{
  height: 500px;
  width: 500px;
  background:  url('C:\Users\vishnupriya\OneDrive\Desktop\weatherproject\public\w1.jpg') ;
  background-size: 500px 500px;
  display: flex;
  text-align: end;
  max-width: 920px;
  margin: auto;
  background-repeat: no-repeat;
}*/
h1,h2{
  text-align: center;
  color: #06326b;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

